
body {
    font-family: "Roboto", sans-serif;
    background-image: url(../assets/nuvem1.jpg); 
}

.about, .contact {
    padding: 30px 0;
}


.title-section {
    text-align: left;
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 40px;
}

.text-section {
    text-align: left;
    font-size: 18px;
    background-color: #847577;
    color: #FBFBF2;
    margin-left: 3rem;
    margin-top: 0;
    margin-bottom: 30px;
}


.card{
    margin: 15px;
    padding:10px;
}

.about-img{
    width: 250px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.form-contact {
    margin: 0 auto;
}

#nav-footer{
    justify-content: center
}
#nav-footer-link{
    display: flex;
    color: #847577;
}

#nav-footer-link p{
    margin-left: 10px;
}

/* início do css da page currículo */

#about-me{
    margin-top:80px;
}

.skills{
   margin-bottom: 60px;
   margin-top: 30px;
   background-color: #A6A2A2;
   color: #847577;
}

.progress{
    margin-bottom: 15px;
}
.col-sm-4{
    max-width: 100%;
    background-color: #C98686;
    padding: 10px;
    color: #D5DFE5;
}
header{
    background-color: #76818e;
}
